<mat-toolbar *ngIf="isruta()">

  <a routerLink="publicaciones"  class="hover:bg-sky-200  hover:transition duration-700  hover:rounded-xl p-2 text-xl ml-8" routerLinkActive="bg-sky-200  rounded-xl">Publicaciones</a>

  <span class="example-spacer" ></span>

  <button class="mr-4" mat-icon-button [matMenuTriggerFor]="perfil" aria-label="Example icon-button with a menu">
    <img *ngIf="UsuarioLogueado" class="h-10 w-10 rounded-full object-cover" src="{{UsuarioLogueado.foto_perfil}}">
  </button>

  <mat-menu #perfil="matMenu">

    <button  class="transition duration-500 text-base font-bold rounded-md mx-1" mat-menu-item>
      <a routerLink="perfil" routerLinkActive="bg-sky-200 rounded-md mx-1"  class="flex items-center p-2 gap-2 transition duration-500 text-base font-bold">
        <img *ngIf="UsuarioLogueado" class="h-7 w-7 rounded-full object-cover" src="{{UsuarioLogueado.foto_perfil}}">
        <span *ngIf="UsuarioLogueado">Perfil de {{UsuarioLogueado.name}} {{UsuarioLogueado.lastname}}</span>
      </a>
    </button>

    <button (click)="cerrarSesion()" class="transition duration-500 text-base font-bold rounded-md mx-1" mat-menu-item>Cerrar Sesión</button>

  </mat-menu>
</mat-toolbar>
